.about {
  height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column; /* so content and Socials stack */
}

.content {
  display: flex;
  flex-direction: row;
  flex: 1 1 0;
}

.about .social-links {
  flex: 0 0 auto;
}

.column-one {
  display: flex;
  flex-direction: column;
  flex: 15;
}

.column-two {
  display: flex;
  flex: 10;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

.column-two img {
  height: 100%;
  filter: grayscale(100%);
}

.bottom img {
  width: 100%;
}

.top {
  flex: 3;
  background-color: var(--main-one);
  padding-top: 12px;
}

.bio {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: whitesmoke;
  font-weight: 350;
  margin: 30px;
  font-size: 24px;
  text-align: left;
}

.bio p {
  margin: 0 0 1.5rem 0;
}

.bottom {
  flex: 2;
  background-color: var(--secondary-two);
}
