.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}
.about {
  display: flex;
  flex-direction: row;
  flex: 1 1 0;
  width: 100%;
  background: whitesmoke;
}

.about .social-links {
  flex: 0 0 auto;
}

.column-one {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
}

.column-two {
  display: flex;
  flex: 0 0 auto;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

.column-three {
  display: flex;
  flex: 0 0 auto;
  background-color: var(--main-three);
}

@media (max-width: 1920px) {
  .column-three {
    flex: 0 1;
  }
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--border-color);
  border: solid 12px var(--border-color);
  min-width: 0;
  min-height: 0;
  max-width: 1000px;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: sepia(35%);
}

.top {
  flex: 2;
  background-color: var(--main-three);
  border-bottom: solid 6px var(--border-color);
}

.middle {
  flex: 3;
  background-color: rgb(11, 6, 46);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bio {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: whitesmoke;
  padding: 30px;
  max-width: 70ch;
  text-shadow: 0.5px 0.5px 0.5px var(--secondary-one);
}

.bio p {
  margin: 0.7em 0;
  font-weight: var(--detail-font-weight);
  font-size: clamp(14px, 1.6vw, 24px);
  text-align: left;
}

.bottom {
  flex: 2;
  background-color: var(--main-one);
  border-top: solid var(--border-width) var(--border-color);
}
