.about-container {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  height: 100vh;
}
.about {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  width: 100%;
  height: 100%;
  background: whitesmoke;
}

.about .social-links {
  flex: 0 0 auto;
}

.column-one {
  display: flex;
  flex: 1 1 43%;
  flex-direction: column;
  background-color: red;
}

.column-two {
  display: flex;
  flex: 1 0 450px;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  min-height: 0;
}

.column-three {
  display: flex;

  flex: 0 1 clamp(0px, calc((1920px * 0.09) - (100vw - 1920px)), 9vw);
  background-color: var(--main-two);
}

.beach {
  flex: 1 0 0;
  width: 100%;
  min-height: 10%;
  object-fit: cover;
  filter: sepia(35%);
  border-style: solid;
  border-color: var(--border-color);
  border-width: clamp(0px, calc(16px - ((100vw - 1920px) * 0.0925926)), 16px);
  box-sizing: border-box;
}

.top {
  display: flex;
  flex: 0 1 15%;
  background-color: var(--main-three);
  border-bottom: solid 6px var(--border-color);
}

.middle {
  display: flex;
  flex: 1 1 70%;
  background-color: rgb(11, 6, 46);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 300px;
}

.bottom {
  display: flex;
  flex: 1 1 15%;
  background-color: var(--main-one);
  border-top: solid var(--border-width) var(--border-color);
}

.bio {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: whitesmoke;
  padding: 30px;
  max-width: 70ch;
  text-shadow: 0.5px 0.5px 0.5px var(--secondary-one);
}

.bio p {
  margin: 0.7em 0;
  font-weight: var(--detail-font-weight);
  font-size: clamp(14px, 1.6vw, 24px);
  text-align: left;
}
