.about {
  height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  background: whitesmoke;
}

.content {
  display: flex;
  flex-direction: row;
  flex: 1 1 0;
}

.about .social-links {
  flex: 0 0 auto;
}

.column-one {
  display: flex;
  flex-direction: column;
  flex: 15;
}

.column-two {
  display: flex;
  flex: 10;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--border-color);
  border: solid 12px var(--border-color);
  min-width: 0;
  min-height: 0;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bottom img {
  width: 100%;
}

.top {
  flex: 3;
  background-color: #454a86;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bio {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: whitesmoke;
  padding: 30px;
  max-width: 70ch;
}

.bio p {
  margin: 0.7em 0;
  font-weight: var(--detail-font-weight);
  font-size: 24px;
  text-align: left;
}

.bottom {
  flex: 2;
  background-color: var(--main-one);
  border-top: solid var(--border-width) var(--border-color);
}
