html,
body {
  height: 100%;
  background-color: rgb(153, 77, 145);
}

body {
  margin: 0;
  font-size: 16px;
  font-weight: 1000;
  line-height: 1.5;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial;
}

a {
  color: inherit;
  text-decoration: none;
}

.layout {
  display: flex;
  min-height: 100vh;
}

.nav-inner {
  width: clamp(160px, 22vw, 2000px);
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.nav-item {
  flex: 1 1 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-width: 0.6vh;
  border-bottom-style: solid;
  text-transform: uppercase;
  color: whitesmoke;
}

#nav-one {
  background-color: rgba(129, 182, 188);
  border-bottom-color: rgb(179, 229, 235);
}

#nav-two {
  background-color: rgba(77, 85, 177);
  border-bottom-color: rgb(187, 193, 255);
}

#nav-three {
  background-color: rgba(168, 203, 106);
  border-bottom-color: rgb(235, 249, 166);
}

#nav-four {
  background-color: rgb(255, 232, 115);
  border-bottom-width: 0;
}

main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.main-image {
  overflow: hidden;
  height: 500px;
}

.profile-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-name {
  display: flex;
  align-items: center;
  width: 100%;
  height: 90px;
  background-color: rgb(255, 232, 115);
}

.text-body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 600px;
  margin-inline: 10px;
  font-size: 24px;
  color: rgb(56, 56, 56);
}

.text-name {
  font-weight: 800;
}

.text-split {
  font-size: 48px;
  font-weight: 200;
}

.text-title {
  font-weight: 300;
}

.main-link {
  height: 150px;
  background-color: rgb(161, 200, 238);
}

.main-quote {
  height: 150px;
  background-color: rgb(165, 213, 165);
}

.social-links {
  height: 120px;
  background-color: rgb(186, 130, 186);
}

@media (max-width: 850px) {
  .layout {
    flex-direction: column;
  }

  .nav-inner {
    width: 100%;
    height: auto;
    flex-direction: row;
  }

  .nav-item {
    flex: 1 1 0;
    min-height: 56px;
    font-size: 14px;
  }

  #nav-four {
    background-color: rgb(255, 232, 115);
    border-bottom-color: rgb(255, 247, 206);
    border-bottom-width: 0.6vh;
  }

  main {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  .main-image {
    height: 400px;
  }
}
