html,
body {
  height: 100%;
  background-color: aquamarine;
}

body {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial;
}

a {
  color: inherit;
  text-decoration: none;
}

.layout {
  display: flex;
  min-height: 100vh;
}

.nav-inner {
  width: clamp(160px, 22vw, 2000px);
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.nav-item {
  flex: 1 1 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-width: 1vh;
  border-bottom-style: solid;
  text-transform: uppercase;
  color: whitesmoke;
}

#nav-one {
  background-color: rgba(129, 182, 188);
  border-bottom-color: rgb(190, 242, 248);
}

#nav-two {
  background-color: rgb(255, 232, 115);
  border-bottom-color: rgb(255, 247, 206);
}

#nav-three {
  background-color: rgba(168, 203, 106);
  border-bottom-color: rgb(235, 249, 166);
}

#nav-four {
  background-color: rgba(21, 89, 13);
  border-bottom-width: 0;
}

main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.main-image {
  display: flex;
  justify-content: center;
  height: 400px;
  background-color: red;
}

.profile-img {
  height: inherit;
}

.main-name {
  height: 90px;
  background-color: blue;
}

.main-link {
  height: 150px;
  background-color: yellow;
}

.main-quote {
  height: 150px;
  background-color: green;
}

.social-links {
  height: 160px;
  background-color: purple;
}

@media (max-width: 850px) {
  .layout {
    flex-direction: column;
  }

  .nav-inner {
    width: 100%;
    height: auto;
    flex-direction: row;
  }

  .nav-item {
    flex: 1 1 0;
    min-height: 56px;
    font-size: 14px;
  }

  #nav-four {
    border-bottom-color: rgb(62, 144, 52);
    border-bottom-width: 1vh;
  }

  main {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  .main-image {
    display: flex;
    justify-content: center;
    height: 400px;
    background-color: red;
  }
}
