.project-detail {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  height: 100vh;
  width: 100%;
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;

  box-sizing: border-box;
}

:root {
  --pd-gutter: 7.5%;
  --pd-gutter-color: var(--background);
  --pd-side: 33.3%;
  --pd-side-color: var(--secondary-two);
  --pd-wide: 66%;
  --pd-wide-color: var(--main-two);
  --pd-visual-height: 33.2vh;

  --border-color: rgb(245, 245, 245);
  --border-width: 6px;
}
.title {
  display: flex;
  flex: 20%;
  flex-direction: row;
  min-height: 15%;
  border-bottom: var(--border-color) var(--border-width) solid;
  box-sizing: border-box;
}

.visual {
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  align-items: stretch;
  max-height: calc(var(--pd-visual-height) * 16 / 9);
  max-width: calc(var(--pd-wide) * 16 / 9);
}

.description {
  display: flex;
  flex-direction: row;
  flex: 33.4%;
  max-height: 33.4%;
  border-top: var(--border-color) var(--border-width) solid;
  box-sizing: border-box;
  min-height: 0;
}

h1 {
  font-weight: 500;
  color: whitesmoke;
  font-size: clamp(40px, 8vw, 76px);
  margin-block: 0;
  margin-inline: 8.5%;

  font-stretch: semi-expanded;
  letter-spacing: px;
}

.title-left {
  display: flex;
  flex: 1 1 auto;
  justify-content: start;
  align-items: center;
  min-width: 0;
  background-color: var(--pd-wide-color);
  border-right: var(--border-width) var(--border-color) solid;
}

.title-right {
  display: flex;
  flex: 0 0 var(--pd-gutter);
  background-color: var(--pd-gutter-color);
}

.visual-left {
  flex: 0 0 var(--pd-gutter);
  background-color: var(--pd-gutter-color);
}

.visual-center {
  flex: 1 1 auto;
  position: relative;
  height: 100%;
  width: auto;
  aspect-ratio: 16 / 9;
  min-width: calc(var(--pd-visual-height) * 16 / 9);
  background-color: black;
  border-inline: 12px var(--border-color) solid;
  box-sizing: border-box;
}

.visual-center-link {
  position: absolute;
  inset: 0;
  z-index: 2;
  display: block;
  cursor: pointer;
}

.visual-right {
  flex: 1 0 var(--pd-side);
  background-color: var(--pd-side-color);
}

.visual-media {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

.visual-media-video {
  border: 0px;
  height: 100%;
  width: 100%;
}

.description-left {
  flex: 0 0 var(--pd-side);
  background-color: var(--pd-side-color);
  border-right: var(--border-width) var(--border-color) solid;
}

.description-right {
  flex: 1 1 auto;
  background-color: var(--pd-wide-color);
  min-height: 0;
  overflow: hidden;
}

.description-right p {
  font-weight: var(--detail-font-weight);
  font-size: clamp(16px, 2vw, 23px);
  margin-top: 30px;
  margin-right: 12%;
  margin-left: 30px;
  text-align: justify;
  color: var(--text-on-color);
}

.description-right a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
  border: red solid;
}

@media (max-width: 989px) {
  .title-right {
    display: none;
  }

  .description-left {
    flex: 1 1 var(--pd-side);
    min-width: 0;
    background-color: var(--pd-side-color);
    border-right: var(--border-width) var(--border-color) solid;
  }

  .description-right {
    flex: 0 0 clamp(calc(989px * 0.4965), 52vw, calc(989px * 0.52));
    max-width: clamp(calc(989px * 0.4965), 52vw, calc(989px * 0.52));
  }

  .visual-left {
    flex: 0 1 var(--pd-gutter);
    background-color: var(--pd-gutter-color);
  }
}

@media (max-width: 1400px) {
  .title-left {
    flex: 1 0 1;

    box-sizing: border-box;
  }

  .title-right {
    flex: 0 1 var(--pd-gutter);
    box-sizing: border-box;
  }
}

@media (max-width: 700px) {
  /* .title-left {
    flex: 1 0 lamp(0px, 17vw, calc(700px * 0.075));
  }
  .title-right {
    flex: 0.5 0 auto;
    background-color: var(--pd-side-color);
    border: none;
  } */

  .visual-left {
    /* flex: 0 0 clamp(0px, 17vw, calc(700px * 0.075)); */
    display: none;
  }

  .visual-center {
    width: 100vw;
    border: none;
  }

  .visual-right {
    /* flex: 0 0 clamp(0px, 17vw, calc(700px * 0.075));
    background-color: var(--pd-gutter-color); */
    display: none;
  }
}

@media (max-width: 500px) {
  .title-right {
    background-color: var(--pd-side-color);
  }

  .visual-left {
    flex: 0 0 0;
  }

  .visual-center {
    border-inline: none;
  }

  .visual-right {
    flex: 0 0 0;
  }
  .description {
    border-top: var(--border-width) var(--border-color) solid;
  }
  .description-left {
    flex: 0 0 0;
    border-right: none;
  }
}
