.project-detail {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  height: 100%;
  width: 100%;
  max-height: 100vh;
  max-width: 100vw;
}

/* Keep paired columns equal across rows */
:root {
  --pd-gutter: 7.5%; /* center-left (visual-left) == top-right (title-right) */
  --pd-gutter-color: rgb(77, 76, 76);
  --pd-side: 33.3%; /* center-right (visual-right) == bottom-left (description-left) */
  --pd-side-color: rgb(59, 45, 75);
  --pd-wide-color: rgb(249, 201, 141);
}
.title {
  display: flex;
  flex: 20%;
  flex-direction: row;
  min-height: 20%;
}

.visual {
  display: flex;
  flex: 46%;
  flex-direction: row;
  min-height: 46.7%;
}

.description {
  display: flex;
  flex-direction: row;
  flex: 33.3%;
  max-height: 33.3%; /* Delete later */
}

h1 {
  font-weight: 500;
  color: rgb(0, 0, 0);
  font-size: 86px;
  margin-block: 0;
  margin-left: 8.5%;
  /* border: solid 1px; */
  /* font-stretch: expanded;
  letter-spacing: 5px; */
}

.title-left {
  display: flex;
  flex: 1 1 auto;
  min-width: 0;
  background-color: var(--pd-wide-color);
}

.title-right {
  display: flex;
  flex: 0 0 var(--pd-gutter);
  background-color: var(--pd-gutter-color);
}

.visual-left {
  flex: 0 0 var(--pd-gutter);
  background-color: var(--pd-gutter-color);
}

.visual-center {
  flex: 1 1 auto;
  min-width: 0;
  width: auto;
  height: auto;
  aspect-ratio: 16 / 9;
  /* max-height: 46vh; */
  background-color: black;
}

.visual-right {
  flex: 0 0 var(--pd-side);
  background-color: var(--pd-side-color);
}

.visual-media {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  border: whitesmoke 1px dotted;
  box-sizing: border-box;
}

.visual-center img {
  width: 100%;
  object-fit: contain;
  display: block;
}

.description-left {
  flex: 0 0 var(--pd-side);
  background-color: var(--pd-side-color);
}

.description-right {
  flex: 1 1 auto;
  min-width: 0;
  background-color: var(--pd-wide-color);
}

.description-right p {
  font-weight: 700;
  font-size: 24px;
  margin-top: 30px;
  margin-right: 12%;
  margin-left: 30px;
  text-align: justify;
}
