.about-container {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;

  height: 100vh;
  overflow: hidden;
}

.about {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  width: 100%;
  min-height: 0;
  background: whitesmoke;
}

.about .social-links {
  flex: 0 0 auto;
}

.column-one {
  display: flex;
  flex: 1 1 47%;
  flex-direction: column;

  min-height: 0;
}

.column-two {
  display: flex;
  flex: 1 0 450px;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  min-height: 0;
}

@media (max-width: 1024px) {
  .column-two {
    display: none;
  }
}

.column-three {
  display: flex;

  flex: 0 1 clamp(0px, calc((1920px * 0.09) - (100vw - 1920px)), 9vw);
  background-color: var(--main-two);
}

@media (max-width: 1600px) {
  .column-three {
    flex: 0 1 clamp(0px, calc(100vw - (1600px * 0.91)), calc(1600px * 0.09));
  }
}

.beach {
  flex: 1 0 0;
  width: 100%;
  min-height: 10%;
  object-fit: cover;
  filter: sepia(35%);
  border-style: solid;
  border-color: var(--border-color);
  border-width: clamp(0px, calc(16px - ((100vw - 1920px) * 0.0925926)), 16px);
  box-sizing: border-box;
}

@media (max-width: 1024px) {
  .beach {
    border: none;
  }
}

.top {
  display: flex;
  flex: 0 0 15%;
  background-color: var(--main-three);
  border-bottom: solid 6px var(--border-color);
}

.middle {
  display: flex;
  flex: 1 1 70%;
  background-color: rgb(11, 6, 46);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 300px;
  min-height: 0;
  overflow: hidden;
}

.bottom {
  display: flex;
  flex: 1 0 15%;
  background-color: var(--main-one);
  border-top: solid var(--border-width) var(--border-color);
}

/* @media (max-width: 1920px) {
  .bottom {
    display: none;
  }
} */

@media (max-width: 1024px) {
  .top {
    flex: 0 0 15%;
  }

  .middle {
    flex: 0 0 70%;
  }
  .bottom {
    display: flex;
    flex: 1 0 15%;
  }
}

.bio {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: whitesmoke;
  padding: 30px;
  max-width: 80%;
  text-shadow: 0.5px 0.5px 0.5px var(--secondary-one);
  max-height: 100%;
  overflow: hidden;
}

.bio p {
  margin: 0.7em 0;
  font-weight: var(--detail-font-weight);
  line-height: 1.35;
  font-size: var(--bio-font-size, clamp(10px, 1.6vw, 24px));
  text-align: left;
}

@media (min-width: 1920px) {
  .bio p {
    font-size: var(--bio-font-size, clamp(24px, 2.6vw, 40px));
  }
}

@media (max-width: 1024px) {
  .bio p {
    font-size: var(--bio-font-size, clamp(8px, 5vw, 18px));
    /* font-size: 32px; */
  }
}
